<main>        
    <section class="form-section">
        <h1>Dinheiro &</h1>
        <h1>Investimentos</h1>
        <br>       
        
       <h2>Seja Bem-Vindo!</h2>
       <br>
       <ng-content></ng-content>

       <div class="centered-buttons">
            <button 
                class="bt-label" 
                (click)="navigateToUserId()"
            >
                Gestão de Usuários
            </button>            
            <button 
                class="bt-label" 
                (click)="checkBalanced()"
            >
                Gestão de Contas
            </button>                                      
            <button
                class="logout"
                (click)="logout()">
                SAIR
              </button>
       </div>
    </section>    
  </main>