<app-login-layout
    title="Acesse sua conta:"
    primaryBtnText="Acessar"
    secondaryBtnText="Cadastrar Usuário"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-login-input
            formControlName="login"
            inputName="login"
            type="text"
            label="Usuário"
            placeholder="usuario"
        >
            <img src="/assets/svg/user-icon.svg"/>
        </app-login-input>
        <app-login-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Sua senha"
        >
            <img src="/assets/svg/password-icon.svg"/>
    </app-login-input>
    <span>Esqueceu a senha?</span>
    </form>
</app-login-layout>