<app-login-layout
    title="Acesse sua conta:"
    primaryBtnText="Acessar"
    secondaryBtnText="Cadastrar Usuário"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-login-input
            formControlName="login"
            inputName="login"
            type="text"
            label="Usuário"
            placeholder="usuario"
        >            
        </app-login-input>
        <app-login-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
        >
        </app-login-input>
    <span class="forget">Esqueceu a senha?</span>
    </form>
</app-login-layout>