<main>        
    <section class="form-section">
        <h1>Dinheiro &</h1>
        <h1>Investimentos</h1>
        <br>       
        
       <h2>Gestão de Usuários</h2>
       <br>
       <ng-content></ng-content>

       <div class="centered-buttons">
            <button 
                class="data-user" 
                (click)="AllUsers()"
            >
                Consultar Todos os Usuários
            </button>            
            <button 
                class="data-user" 
                (click)="UserId()"
            >
                Consultar Usuário por ID
            </button>
            <button 
                class="data-user" 
                (click)="UpdateUser()"
            >
                Atualizar Usuário
            </button> 
            <button 
                class="data-user" 
                (click)="DeleteUser()"
            >
                Deletar Usuário por ID
            </button>                                     
            <button
                class="logout"
                (click)="HomePage()">
                Voltar
              </button>
       </div>
    </section>    
  </main>