main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 99vw;
    background-image: url('/assets/svg/background.jpg');
    background-color: rgba(168, 235, 179, 0.8);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
   
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20px;
    }    

    .form-section {
        padding: 50px;
        background-color: white;
        width: 80%;
        max-width: 400px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #05ab47;
        }

        h2 {
            font-size: 30px;
            font-weight: bold;
            color: #fc9641;
        }

        .centered-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;                            
            
            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;                
    
                &.account {
                  border: 1px solid  #57bcc6;
                  color: white;
                  background-color: #05ab47;
                }  

                &.logout {
                  background-color:  #fc9641;
                  color: white;
                  box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
              }
            }
        }
    }
}